mixin section-responsibility()
  +b('section').section-responsibility&attributes(attributes)
    .grid
      +b('h2').heading._gray._line Наша компания берет ответственность за:
      +e.list
        each item in responsibility
          +e.item
            +e.img-container
              +e('img')(src=item.img alt=item.text).img
            +e('p').text !{item.text}
      +e.content
        p Для того чтобы наши клиенты могли без проблем проходить различные проверки мы оказывает личную поддержку и помощь в вопросах бухгалтерского учета и налогообложения в любой удобной форме – по телефону, с помощью электронной почты или при личной встрече, объясняя сложные моменты на понятном для клиента языке.
        p Обращение в нашу компанию позволяет оформить заявку онлайн практически круглосуточно. Уже в рамках первичной консультации клиент может получить практические решения возникающих вопросов по оптимизации или коррекции учета.
