include ../blocks/includes
include page/page
include header/header
include logo/logo
include contacts/contacts
include top-menu/top-menu
include hamburger/hamburger
include section-about/section-about
include section-prices/section-prices
include section-responsibility/section-responsibility
include section-benefits/section-benefits
include section-form/section-form
include footer/footer
include footer-menu/footer-menu
include popups/popups
