@font-face {
  font-family: 'proxima_novabold';
  src: url('../fonts/proximanova-bold/proximanova-bold.eot');
  src: url('../fonts/proximanova-bold/proximanova-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-bold/proximanova-bold.woff2') format('woff2'),
  url('../fonts/proximanova-bold/proximanova-bold.woff') format('woff'),
  url('../fonts/proximanova-bold/proximanova-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'proxima_novaextrabold';
  src: url('../fonts/proximanova-extrabld/proximanova-extrabld.eot');
  src: url('../fonts/proximanova-extrabld/proximanova-extrabld.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-extrabld/proximanova-extrabld.woff2') format('woff2'),
  url('../fonts/proximanova-extrabld/proximanova-extrabld.woff') format('woff'),
  url('../fonts/proximanova-extrabld/proximanova-extrabld.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'proxima_novalight';
  src: url('../fonts/proximanova-light/proximanova-light.eot');
  src: url('../fonts/proximanova-light/proximanova-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-light/proximanova-light.woff2') format('woff2'),
  url('../fonts/proximanova-light/proximanova-light.woff') format('woff'),
  url('../fonts/proximanova-light/proximanova-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'proxima_novaregular';
  src: url('../fonts/proximanova-regular/proximanova-regular.eot');
  src: url('../fonts/proximanova-regular/proximanova-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-regular/proximanova-regular.woff2') format('woff2'),
  url('../fonts/proximanova-regular/proximanova-regular.woff') format('woff'),
  url('../fonts/proximanova-regular/proximanova-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'proxima_novaregular_italic';
  src: url('../fonts/proximanova-regularit/proximanova-regularit.eot');
  src: url('../fonts/proximanova-regularit/proximanova-regularit.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-regularit/proximanova-regularit.woff2') format('woff2'),
  url('../fonts/proximanova-regularit/proximanova-regularit.woff') format('woff'),
  url('../fonts/proximanova-regularit/proximanova-regularit.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'proxima_novasemibold';
  src: url('../fonts/proximanova-semibold/proximanova-semibold.eot');
  src: url('../fonts/proximanova-semibold/proximanova-semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-semibold/proximanova-semibold.woff2') format('woff2'),
  url('../fonts/proximanova-semibold/proximanova-semibold.woff') format('woff'),
  url('../fonts/proximanova-semibold/proximanova-semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
