mixin header()
  +b('header').header&attributes(attributes)
    .grid
      +e.top
        +e.logo
          +logo
        +e.contacts
          +e.contacts-left
            +contacts
          +e.contacts-right
            +b('a')(href='#callback').button._callback.popup-with-zoom-anim Заказать обратный звонок <span>Обратный звонок</span>
            +e.city г. Санкт-Петербург
        +e.menu
          +hamburger._top-menu
          +top-menu
    +e.bottom
      .grid
        +e.info
          h1 Бухгалтерские услуги ООО <span>в Санкт-Петербурге</span>
          +e('span').price от <span>3500</span> руб
          +e.buttons
            +b('a')(href='#').button._big.__button.__btn-more Подробнее о ценах
            +b('a')(href='#').button._big.__button Обсудить сотрудничество
