// Для импорта в файл подключения: @import './app/blocks.project/contacts/contacts';

@import '../../scss/vars';     // файл с переменными
@import '../../scss/png-sprite';    // файл с png-спрайтами


.contacts {
  display: inline-block;
  font-family: $proxima_novasemibold;
  font-size: 16px;
  color: #434343;
  @media (max-width: 768px) {
    font-size: 12px;
  }

  &__phone {
    display: inline-block;
    text-decoration: none;
    transition: $transition;
    color: #434343;
    margin-bottom: 13px;
    @media (max-width: 768px) {
      margin-bottom: 5px;
    }
    span {
      color: #04c36b;
    }
    &:hover {
      color: #04c36b;
    }
    &:before {
      background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2221%22%20width%3D%2221%22%3E%3Cpath%0A%09d%3D%22M.93%2013.12A3.145%203.145%200%200%201%200%2010.894v-.93a3.11%203.11%200%200%201%20.93-2.226%203.153%203.153%200%200%201%201.943-.91%207.552%207.552%200%200%201%202.225-4.572%207.717%207.717%200%200%201%2010.905%200%207.55%207.55%200%200%201%202.225%204.612%203.274%203.274%200%200%201%201.841.9A3.11%203.11%200%200%201%2021%209.995v.93a3.11%203.11%200%200%201-.93%202.226%203.2%203.2%200%200%201-1.902.9%207.708%207.708%200%200%201-5.22%206.01%201.684%201.684%200%200%201-1.507.94H9.66a1.677%201.677%200%200%201-1.68-1.659%201.67%201.67%200%200%201%201.68-1.649h1.78a1.683%201.683%200%200%201%201.305.617%206.097%206.097%200%200%200%202.033-1.325%205.919%205.919%200%200%200%201.76-4.198V7.657a5.937%205.937%200%200%200-1.76-4.197%206.008%206.008%200%200%200-8.457%200%205.895%205.895%200%200%200-1.76%204.197v5.26a1.063%201.063%200%200%201-.334.79%201.113%201.113%200%200%201-.809.333%203.202%203.202%200%200%201-2.488-.92z%22%20fill%3D%22%23c0c0c0%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E') center no-repeat;
      background-size: contain;
    }
  }

  &__mode {
    &:before {
      background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2221%22%20width%3D%2221%22%3E%3Cpath%0A%09d%3D%22M10.5%200A10.5%2010.5%200%201%200%2021%2010.5%2010.512%2010.512%200%200%200%2010.5%200zm0%2018.79a8.29%208.29%200%201%201%208.29-8.29%208.3%208.3%200%200%201-8.29%208.29zm5.64-8.61h-4.1a1.811%201.811%200%200%200-.6-.6V4.65a.94.94%200%200%200-1.88%200v4.93a1.8%201.8%200%200%200%20.94%203.34%201.824%201.824%200%200%200%201.54-.86h4.1a.94.94%200%200%200%200-1.88z%22%20fill%3D%22%23c0c0c0%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E') center no-repeat;
      background-size: contain;
    }
  }

  &__phone, &__mode {
    position: relative;
    padding-left: 40px;
    @media (max-width: 768px) {
      padding-left: 0;
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 21px;
      width: 21px;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}
