// Для импорта в файл подключения: @import './app/blocks.project/benefit/benefit';

@import '../../scss/vars';     // файл с переменными
@import '../../scss/png-sprite';    // файл с png-спрайтами


.benefit {
  text-align: center;

  &__inner {
    border: 1px solid #a1a1a1;
    height: 100%;
    padding: 44px 15px 80px;
    transition: $transition;
    @media (max-width: 1310px) {
      padding: 30px 10px;
    }
    &:hover {
      box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
    }
  }

  &__img-container {
    height: 60px;
    position: relative;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
  }

  &__title {
    font-family: $proxima_novabold;
    font-size: 22px;
    line-height: 22px;
    color: $accentColor;
    position: relative;
    margin: 40px 0 25px;
    padding-bottom: 25px;
    @media (max-width: 1310px) {
      font-size: 20px;
      line-height: 1.2;
      margin: 30px 0 25px;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 4px;
      width: 36px;
      background-color: $accentColor;
    }
  }

  &__text {
    font-family: $proxima_novalight;
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
  }

}
