mixin section-about()
  +b('section').section-about&attributes(attributes)
    .grid
      +b('h2').heading._gray._line Бухгалтерские услуги для ООО от нашей компании
      +e.content
        p Наша компания <b>предоставляет услуги бухгалтера для ООО на условиях частичного или полного обслуживания</b>. Мы  не боимся ответственности, поскольку за все время работы начиная с <b>2004</b> года на удаленном сотрудничестве обслужили несколько тысяч компаний различных организационно-правовых форм.
        p В своей работе мы используем <b>комплексный подход</b>, предлагая своим клиентам наиболее эффективные решения, подходящие под конкретней случай. Команда наших экспертов состоит из <b>опытных специалистов</b> с обширным практическим опытом работы.
        p Одним из плюсов сотрудничества с нами является тот факт, что постоянные клиенты, заключившие договора на абонентское обслуживание, <b>имеют возможность пользоваться сопутствующими услугами. Таким клиентам мы предоставляем скидки</b>.
      +e('span').separator
      +e.content._alignleft
        img(src='img/about_img.jpg' alt='Бухгалтерские услуги для ООО от нашей компании').alignright
        p <b>Любая коммерческая компания в той или иной степени обязана вести бухгалтерский учет по установленным стандартам и нормативам.</b>
        p <b>Данная обязанность не зависит от формы собственности и общество с ограниченной ответственностью (ООО) неисключение.</b>
        p <b>Бухгалтерский учет ООО</b> обычно является привилегией главного бухгалтера, назначаемого директором. Причем в небольших организациях директор и главный бухгалтер нередко являются одним лицом, что часто приводит к ошибкам, а они, в свою очередь, к большим штрафам. Риски подобных ситуаций заставляют владельцев бизнеса искать альтернативные решения бухгалтерского учета.
        p К тому же, учитывая тот факт, что многим предприятиям в нынешней экономической ситуации приходится буквально выживать, не каждая компания в состоянии содержать собственного бухгалтера, не говоря уже про штат бухгалтеров. Но с наступлением эры информационных технологий у хозяйствующих субъектов появился выбор между штатным бухгалтеров и аутсорсинговой компанией. Основной приоритет подобных компаний – услуги по организации и ведению учета, которые можно получать дистанционно. В тоже время выполняться они будут лучшими специалистами, тем самым повышая качество учета и оптимизируя налогообложение.
