include ../blocks.project/includes

doctype html
html(lang='ru')
  include templates/head/head
    block head
      - var pageTitle = 'Бухгалтерские услуги ООО | Аудит и консалтинг';

  +page

    +header.__header

    +b.content.__content

      +section-about

    +b('footer').footer.__footer
      //- Content for footer
