include ../blocks.project/includes

doctype html
html(lang='ru')
  include templates/head/head
    block head
      - var pageTitle = 'Бухгалтерские услуги ООО | Аудит и консалтинг';

  +page

    +header.__header

    +b.content.__content
      p(style='background: green') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, molestias?

    +b('footer').footer.__footer
      //- Content for footer
