include ../blocks.project/includes

doctype html
html(lang='ru')
  include templates/head/head
    block head
      - var pageTitle = 'Бухгалтерские услуги ООО | Аудит и консалтинг';

  +page

    +header.__header

    +b.content.__content

      +section-about

      +section-prices#prices

      +section-responsibility

      +section-benefits

      +section-form#contacts

    +footer.__footer

    +popups
