mixin section-prices()
  +b('section').section-prices&attributes(attributes)
    .grid
      +b('h2').heading._gray Цены на бухгалтерские услуги
      +b.price-block.__price-block
        +e.left
          +e('h3').name Тариф «Эконом»
          +e('p').info До 4 человек / до 40 операций
          +e('p').price от
            +e('span').number 3 500
            | в месяц
        +e.right
          table
            thead
              tr
                td Система налогообложения
                td Услуги / Торговля
                td Производство / Строительство
            tbody
              tr
                td(data-label='Система налогообложения') <span>ЕНВД</span>
                td(data-label='Услуги / Торговля') <span>3500 руб.</span>
                td(data-label='Производство / Строительство') <span>-</span>
              tr
                td(data-label='Система налогообложения') <span>УСН Доходы 6%</span>
                td(data-label='Услуги / Торговля') <span>3500 руб.</span>
                td(data-label='Производство / Строительство') <span>4000 Руб.</span>
              tr
                td(data-label='Система налогообложения') <span>УСН Доходы - Расходы 7%</span>
                td(data-label='Услуги / Торговля') <span>4000 руб.</span>
                td(data-label='Производство / Строительство') <span>4500 руб.</span>
              tr
                td(data-label='Система налогообложения') <span>ОСН</span>
                td(data-label='Услуги / Торговля') <span>4000 руб.</span>
                td(data-label='Производство / Строительство') <span>5000 руб.</span>
      +b.price-block.__price-block
        +e.left
          +e('h3').name Тариф «Стандарт»
          +e('p').info До 6 человек / до 80 операций
          +e('p').price от
            +e('span').number 6 000
            | в месяц
        +e.right
          table
            thead
              tr
                td Система налогообложения
                td Услуги / Торговля
                td Производство / Строительство
            tbody
              tr
                td(data-label='Система налогообложения') <span>ЕНВД</span>
                td(data-label='Услуги / Торговля') <span>6000 руб.</span>
                td(data-label='Производство / Строительство') <span>-</span>
              tr
                td(data-label='Система налогообложения') <span>УСН Доходы 6%</span>
                td(data-label='Услуги / Торговля') <span>6000 руб.</span>
                td(data-label='Производство / Строительство') <span>6500 Руб.</span>
              tr
                td(data-label='Система налогообложения') <span>УСН Доходы - Расходы 7%</span>
                td(data-label='Услуги / Торговля') <span>7000 руб.</span>
                td(data-label='Производство / Строительство') <span>8000 руб.</span>
              tr
                td(data-label='Система налогообложения') <span>ОСН</span>
                td(data-label='Услуги / Торговля') <span>8000 руб.</span>
                td(data-label='Производство / Строительство') <span>9000 руб.</span>
